body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* https://www.geeksforgeeks.org/css/how-to-set-space-between-the-flexbox/ */
    /* https://developer.mozilla.org/es/docs/Web/CSS/Guides/Flexible_box_layout/Basic_concepts#la_abreviatura_flex-flow */
}
p{
    color: black;
    font-weight: lighter;
}
div.ajustandoseAlEspacio{
    display: flex;
    width: 1000px;
}
#ajus{
    background-color: #4f79eb;
    width: auto;
    height: auto;
    flex:1;
}
div{
    width: 100px;
    height: 50px;
    background-color: #4f79eb;
    border: 1px solid black;
}
.row{
     display: flex;
     width: 1000px;
     height: auto;
     border: 2px solid blue;
    background-color: rgb(255, 255, 255);

}
.rowReverse{
     display: flex;
     flex-direction: row-reverse;
     border: 2px solid blueviolet;    
     width: 1000px;
     height: auto;
    background-color: rgb(255, 255, 255);

}
.column{
     display: flex;
     flex-direction: column;
     border: 2px solid brown;
     width: 1000px;
     height: auto;
    background-color: rgb(255, 255, 255);
}
/* excede el espacio y pasa a la siguiente linea */
.wrap{
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
    justify-content: space-aroud;
    border: 2px solid brown;
    width: 500px;
    height: auto;
    background-color: rgb(255, 255, 255);
}
