body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(10, 1fr);
    font-weight: bolder;
}
@media screen and (max-width: 480px){
    header{
        /* El primer valor es la columna inicial y el segundo es el número de columnas */
        /* Aqui ocupa desde la columna inicial hasta la última columna (-1) */
        grid-column: 1/-1;
    }
    nav{
        grid-column: 1/-1;
    }
    section{
        grid-column: 1/-1;
        /* el primer valor es la columna inicial y el segundo es el número de filas */
        grid-row: 3/ span 3
    }
    article{
        grid-column: 1/-1;
        grid-row: 6/ span 2
    }
    aside{
        grid-column: 1/-1;
        grid-row: 8/ span 2
    }
    footer{
        grid-column: 1/-1;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    header{
        grid-column: 1/-1;
    }
    nav{
        grid-column: 1/ span 6;
        grid-row: 2/ span 3;
    }
    section{
        grid-column: 7/ span 6;
        grid-row: 2/ span 3
    }
    article{
        grid-column: 1/   span 6;
        grid-row: 5/ span 2
    }
    aside{
        grid-column: 7/ span 6;
        grid-row: 5/ span 2
    }
    footer{
        grid-column: 1/-1;
    }
}
@media screen and (min-width: 769px) {
    header{
        grid-column: 1/-1;
    }
    nav{
        grid-column: 1/4;
        grid-row: 2/6;
    }
    section{
        grid-column: 4/10;
        grid-row: 2/6;
    }
    article{
        grid-column: 10/13;
        grid-row: 2/4;
    }
    aside{
        grid-column: 10/13;
        grid-row: 4/6;
    }
    footer{
        grid-column: 1/-1;
    }
    
}